.text-center {
    font-family: 'Roboto Condensed', sans-serif;
    position:fixed;

}

#title {
    position: fixed;
    top: 8vh;
    left: 42.5vw;
    font-size: 7.5vh;
}

#subtitle {
    position: fixed;
    top: 18vh;
    left:45vw;
    font-size: 2.5vh;
}

.container1 {
    width: 80vw;
    top: 15vh;
    left: 10vw;
    /*    text-align: center;*/
    position: fixed;
    margin-left: 0;
    margin-bottom: 0;
}

.mainDiv {
    width: 30vw;
    height: 75vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    opacity: 1;
    position: relative;
    float: left;
    top: 20px;
    left: 10px;
    border: 1.7px solid linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 13%/10%;
    overflow: hidden;
    box-shadow: -1.7px 3.4px 22.2px -1.7px rgba(51, 54, 63, 0.28);
    backdrop-filter: blur(17.1px);
    font-size: 27px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.bottomBox {
    width: 26vw;
    height: 20vh;
    background: rgba(108, 140, 163, 0.5);
    opacity: 1;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    display: inline-block;
    border: 1.7px solid linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 8%/25%;
    box-shadow: -1.70667px 3.41333px 22.1867px rgba(51, 54, 63, 0.28);
    backdrop-filter: blur(17.0667px);
}

.rowInfoBox {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding:7%;
    margin-bottom:5%;
    gap:10%;
}

.infoBox {
    box-sizing: border-box;
    width: 30vw;
    height: 20vh;
    background: rgba(108, 140, 163, 0.5);
    opacity: 1;
    border: 1.7px solid linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 20%/20%;
    overflow: hidden;
    box-shadow: -1.70667px 3.41333px 22.1867px rgba(51, 54, 63, 0.28);
    backdrop-filter: blur(17.0667px);    
}

.capy {
    width: 40vw;
    float: right;
    margin-top:10vh;
    display: grid;
    bottom:9vh;
  
}

.capy img{
    width:70%;
    height:auto;
    margin-bottom:10vh;
    margin-left:10%;
    bottom: -10vh;
    align-self:end;
}
