@{
    ViewData["Title"] = "O nas";
}
<h1>@ViewData["Title"]</h1>

<p>Projekt zespołowy utworzony przez studentów Politechniki Wrocławskiej w składzie:</p>
<ul>
    <li>Alicja Jabłońska (LIDER)</li>
    <li>Andrzej Perczak</li>
    <li>Hubert Bełkot</li>
    <li>Jakub Kadziewicz</li>
    <li>Zofia Zub</li>
</ul>
